.loginBox {
  width: 400px;
  height: 260px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px #ccc;
  position: fixed;
  top: 50%;
  right: 150px;
  transform: translate(0, -50%);
}

.primary {
  color: dodgerblue;
}